<!DOCTYPE html>
<html>
<head>
    <title>My Favorite Movies</title>
</head>
<body>
    <h1>My Favorite Movies</h1>
    <a href="{% url 'movie_add' %}">+ Add New Movie</a>
    <ul>
        {% for movie in movies %}
            <li>
                <strong>{{ movie.title }}</strong>
                {{ movie.description }}<br>
                <a href="{% url 'movie_edit' movie.id %}">Edit</a> |
                <a href="{% url 'movie_delete' movie.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No movies added yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
